@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css');


/* 导入 Regular 字体 */
/* @font-face {
  font-family: 'LXGWWenKai';
  src: url('./fonts/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* 导入 Medium 字体 */
/* @font-face {
  font-family: 'LXGWWenKai';
  src: url('./fonts/LXGWWenKai-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

/* 导入 Light 字体 */
/* @font-face {
  font-family: 'LXGWWenKai';
  src: url('./fonts/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
} */

/* 全局样式 */
body,
td,
th,
tr,
p,
a {
  font-family: 'Crimson Pro', "LXGW Wenkai", serif;
  font-size: 28px;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

.papertitle {
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  font-weight: 700;
}

/* 英文名字样式 */
.english-name {
  font-family: 'Crimson Pro', serif;
  font-size: 32px;
}

/* 中文名字样式 */
.chinese-name {
  font-family: 'LXGW WenKai', serif;
  font-size: 28px;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

ol {
  padding-left: 0; /* 去掉默认的缩进 */
  list-style-position: inside; /* 列表标记在列表项内部 */
}

ol li {
  margin-bottom: 1em; /* 设置每个列表项之间的间距 */
}
